.edit-task {
  width: 60%;
  margin: 1.5rem auto;
}

.error-message {
  color: #ff3333;
}

.edit-task-form {
  color: #555555;

  .form-block {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
  }

  .input {
    width: 40%;
    line-height: 1.5;
    padding: 0.2rem;
  }

  .radios-wapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;

    .radio-wapper {
      display: flex;
      align-items: center;
      gap: 0.2rem;
    }
  }

  .buttons-wapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;

    button {
      border-radius: 0.25rem;
      font-size: 1rem;
      font-weight: 600;
      padding: 0.5rem 1.5rem;
    }

    .delete-task-button {
      color: #ff3333;
      border: solid 1px #ff3333;
    }

    .edit-task-button {
      color: #ffffff;
      background-color: #242f9b;
    }
  }
}

@media screen and (max-width: 768px) {
  .edit-task {
    width: 80%;
  }

  .edit-task-form .input {
    width: 60%;
  }
}

@media screen and (max-width: 320px) {
  .edit-task {
    width: 85%;
  }

  .edit-task-form .input {
    width: 90%;
  }
}
