.new-task {
  width: 60%;
  margin: 1.5rem auto;
}

.error-message {
  color: #ff3333;
}

.new-task-form {
  color: #555555;

  .form-block {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
  }

  select {
    display: block;
    width: 40%;
    border-radius: 0.25rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.3rem 0.5rem;
  }

  .input {
    width: 40%;
    line-height: 1.5;
    padding: 0.2rem;
  }

  .new-task-button {
    border-radius: 0.25rem;
    color: #ffffff;
    background-color: #242f9b;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
  }
}
