.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  background-color: #242f9b;
  padding: 0 2rem;

  h1 a,
  button {
    color: #ffffff;
    text-decoration: none;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 0 1rem;

    h1 a {
      font-size: 1.5rem;
    }

    button {
      margin-top: 0.5rem;
    }
  }
}
